/* line 1, /Users/saraqi/chord_generator/app/assets/stylesheets/accidental.scss */
.accidental {
  content: ' ';
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: center;
  width: 11px;
}
/* line 8, /Users/saraqi/chord_generator/app/assets/stylesheets/accidental.scss */
.accidental.sharp {
  background-image: url(/assets/sharp-686319c52c5265fe0eebaf6a48ff0cf53ac98f6567751b1626e2665564a9164b.svg);
  height: 22px;
}
/* line 13, /Users/saraqi/chord_generator/app/assets/stylesheets/accidental.scss */
.accidental.flat {
  background-image: url(/assets/flat-cd4e3edc4f243145233f21c2a5ce2e3e9eee4c0a121086a194b03e6713a1db91.svg);
  height: 20px;
}
/* line 18, /Users/saraqi/chord_generator/app/assets/stylesheets/accidental.scss */
.accidental.natural {
  background-image: url(/assets/natural-ad7a4e0561bb936e6883dc5bdaf6aaeb9df3d6544cbbf8b1d3477fecdbc3bee9.svg);
  height: 27px;
}
/* line 2, /Users/saraqi/chord_generator/app/assets/stylesheets/ghost_note.scss */
.ghost-note {
  position: relative;
  height: 7px;
  content: "";
  width: 12px;
}
/* line 8, /Users/saraqi/chord_generator/app/assets/stylesheets/ghost_note.scss */
.ghost-note .line-note {
  position: relative;
  height: 1px;
  width: 20px;
  top: 4px;
  right: 4px;
}
/* line 15, /Users/saraqi/chord_generator/app/assets/stylesheets/ghost_note.scss */
.ghost-note .line-note::before {
  height: 1px;
  width: 20px;
  box-sizing: border-box;
  border-top: 1px solid transparent;
  position: absolute;
  content: "";
}
/* line 25, /Users/saraqi/chord_generator/app/assets/stylesheets/ghost_note.scss */
.ghost-note .head {
  position: relative;
  height: 7px;
  content: "";
}
/* line 30, /Users/saraqi/chord_generator/app/assets/stylesheets/ghost_note.scss */
.ghost-note .head::before {
  height: 8px;
  width: 12px;
  position: absolute;
  content: "";
  border-radius: 50%;
  transform: rotatez(-15deg);
  background-color: transparent;
}
/* line 43, /Users/saraqi/chord_generator/app/assets/stylesheets/ghost_note.scss */
.ghost-note.selected .line-note::before {
  border-color: #222222;
}
/* line 49, /Users/saraqi/chord_generator/app/assets/stylesheets/ghost_note.scss */
.ghost-note.selected .head::before {
  background-color: #222222;
}
/* line 57, /Users/saraqi/chord_generator/app/assets/stylesheets/ghost_note.scss */
.ghost-note:hover .line-note::before {
  border-color: blue;
  opacity: 0.5;
}
/* line 64, /Users/saraqi/chord_generator/app/assets/stylesheets/ghost_note.scss */
.ghost-note:hover .head::before {
  background-color: blue;
  opacity: 0.5;
}
/* line 2, /Users/saraqi/chord_generator/app/assets/stylesheets/key_signature.scss */
.staff .key-signature {
  position: absolute;
  height: 100% !important;
  content: ' ';
  left: 45px;
  width: 60px;
  top: -41px;
  justify-content: center;
  display: flex;
}
/* line 14, /Users/saraqi/chord_generator/app/assets/stylesheets/key_signature.scss */
.staff .key-signature.selected::before {
  content: " ";
  position: absolute;
  width: 100%;
  background-color: blue;
  opacity: 0.2;
  height: 100%;
  top: 8px;
  left: 2px;
}
/* line 28, /Users/saraqi/chord_generator/app/assets/stylesheets/key_signature.scss */
.staff .key-signature.highlight:hover::before, .staff .key-signature.selected:hover::before {
  content: " ";
  position: absolute;
  width: 100%;
  background-color: blue;
  opacity: 0.2;
  height: 100%;
  top: 3px;
  left: 2px;
}
/* line 40, /Users/saraqi/chord_generator/app/assets/stylesheets/key_signature.scss */
.staff .key-signature .sharp,
.staff .key-signature .flat {
  position: relative;
  display: inline-block;
  height: 100% !important;
  background-repeat: repeat-y;
  content: ' ';
}
/* line 49, /Users/saraqi/chord_generator/app/assets/stylesheets/key_signature.scss */
.staff .key-signature .sharp {
  background-size: 12px 100px;
  background-image: url(/assets/sharp-686319c52c5265fe0eebaf6a48ff0cf53ac98f6567751b1626e2665564a9164b.svg);
  width: 10px;
  bottom: 31px;
}
/* line 56, /Users/saraqi/chord_generator/app/assets/stylesheets/key_signature.scss */
.staff .key-signature .flat {
  background-size: 11px 100px;
  background-image: url(/assets/flat-cd4e3edc4f243145233f21c2a5ce2e3e9eee4c0a121086a194b03e6713a1db91.svg);
  width: 10px;
  bottom: 31px;
}
/* line 64, /Users/saraqi/chord_generator/app/assets/stylesheets/key_signature.scss */
.staff .key-signature .sharp.c4 {
  top: 36px;
}
/* line 67, /Users/saraqi/chord_generator/app/assets/stylesheets/key_signature.scss */
.staff .key-signature .sharp.d4 {
  top: 32px;
}
/* line 70, /Users/saraqi/chord_generator/app/assets/stylesheets/key_signature.scss */
.staff .key-signature .sharp.e4 {
  top: 28px;
}
/* line 73, /Users/saraqi/chord_generator/app/assets/stylesheets/key_signature.scss */
.staff .key-signature .sharp.f4 {
  top: 24px;
}
/* line 76, /Users/saraqi/chord_generator/app/assets/stylesheets/key_signature.scss */
.staff .key-signature .sharp.g4 {
  top: 20px;
}
/* line 79, /Users/saraqi/chord_generator/app/assets/stylesheets/key_signature.scss */
.staff .key-signature .sharp.a5 {
  top: 16px;
}
/* line 82, /Users/saraqi/chord_generator/app/assets/stylesheets/key_signature.scss */
.staff .key-signature .sharp.b5 {
  top: 12px;
}
/* line 85, /Users/saraqi/chord_generator/app/assets/stylesheets/key_signature.scss */
.staff .key-signature .sharp.c5 {
  top: 8px;
}
/* line 88, /Users/saraqi/chord_generator/app/assets/stylesheets/key_signature.scss */
.staff .key-signature .sharp.d5 {
  top: 4px;
}
/* line 91, /Users/saraqi/chord_generator/app/assets/stylesheets/key_signature.scss */
.staff .key-signature .sharp.e5 {
  top: 0px;
}
/* line 94, /Users/saraqi/chord_generator/app/assets/stylesheets/key_signature.scss */
.staff .key-signature .sharp.f5 {
  top: -4px;
}
/* line 97, /Users/saraqi/chord_generator/app/assets/stylesheets/key_signature.scss */
.staff .key-signature .sharp.g5 {
  top: -8px;
}
/* line 100, /Users/saraqi/chord_generator/app/assets/stylesheets/key_signature.scss */
.staff .key-signature .sharp.a6 {
  top: -12px;
}
/* line 103, /Users/saraqi/chord_generator/app/assets/stylesheets/key_signature.scss */
.staff .key-signature .sharp.b6 {
  top: -16px;
}
/* line 106, /Users/saraqi/chord_generator/app/assets/stylesheets/key_signature.scss */
.staff .key-signature .sharp.c6 {
  top: -20px;
}
/* line 112, /Users/saraqi/chord_generator/app/assets/stylesheets/key_signature.scss */
.staff .key-signature .flat.c4 {
  top: 28px;
}
/* line 115, /Users/saraqi/chord_generator/app/assets/stylesheets/key_signature.scss */
.staff .key-signature .flat.d4 {
  top: 24px;
}
/* line 118, /Users/saraqi/chord_generator/app/assets/stylesheets/key_signature.scss */
.staff .key-signature .flat.e4 {
  top: 20px;
}
/* line 121, /Users/saraqi/chord_generator/app/assets/stylesheets/key_signature.scss */
.staff .key-signature .flat.f4 {
  top: 16px;
}
/* line 124, /Users/saraqi/chord_generator/app/assets/stylesheets/key_signature.scss */
.staff .key-signature .flat.g4 {
  top: 12px;
}
/* line 127, /Users/saraqi/chord_generator/app/assets/stylesheets/key_signature.scss */
.staff .key-signature .flat.a5 {
  top: 8px;
}
/* line 130, /Users/saraqi/chord_generator/app/assets/stylesheets/key_signature.scss */
.staff .key-signature .flat.b5 {
  top: 4px;
}
/* line 133, /Users/saraqi/chord_generator/app/assets/stylesheets/key_signature.scss */
.staff .key-signature .flat.c5 {
  top: 0px;
}
/* line 136, /Users/saraqi/chord_generator/app/assets/stylesheets/key_signature.scss */
.staff .key-signature .flat.d5 {
  top: -4px;
}
/* line 139, /Users/saraqi/chord_generator/app/assets/stylesheets/key_signature.scss */
.staff .key-signature .flat.e5 {
  top: -8px;
}
/* line 142, /Users/saraqi/chord_generator/app/assets/stylesheets/key_signature.scss */
.staff .key-signature .flat.f5 {
  top: -12px;
}
/* line 145, /Users/saraqi/chord_generator/app/assets/stylesheets/key_signature.scss */
.staff .key-signature .flat.g5 {
  top: -16px;
}
/* line 148, /Users/saraqi/chord_generator/app/assets/stylesheets/key_signature.scss */
.staff .key-signature .flat.a6 {
  top: -20px;
}
/* line 151, /Users/saraqi/chord_generator/app/assets/stylesheets/key_signature.scss */
.staff .key-signature .flat.b6 {
  top: -24px;
}
/* line 154, /Users/saraqi/chord_generator/app/assets/stylesheets/key_signature.scss */
.staff .key-signature .flat.c6 {
  top: -28px;
}
/* line 1, /Users/saraqi/chord_generator/app/assets/stylesheets/note.scss */
.note {
  align-items: center;
  display: flex;
}
/* line 5, /Users/saraqi/chord_generator/app/assets/stylesheets/note.scss */
.note .accidental.flat {
  position: relative;
  top: -3px;
}
/* line 10, /Users/saraqi/chord_generator/app/assets/stylesheets/note.scss */
.note .whole,
.note .half,
.note .quarter,
.note .eighth {
  content: " ";
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}
/* line 19, /Users/saraqi/chord_generator/app/assets/stylesheets/note.scss */
.note .whole.line-note::after,
.note .half.line-note::after,
.note .quarter.line-note::after,
.note .eighth.line-note::after {
  position: absolute;
  content: " ";
  border-bottom: 1px solid black;
  width: 19px;
}
/* line 27, /Users/saraqi/chord_generator/app/assets/stylesheets/note.scss */
.note .whole {
  background-image: url(/assets/notes/whole_note-3e0af029cf669672d546efba829e055ad44f7e9f669edf647203b66019b093eb.svg);
  background-position: center;
  width: 14px;
  height: 30px;
  top: 1px;
}
/* line 34, /Users/saraqi/chord_generator/app/assets/stylesheets/note.scss */
.note .whole.line-note::after {
  left: -3px;
  top: 15px;
  width: 20px;
}
/* line 41, /Users/saraqi/chord_generator/app/assets/stylesheets/note.scss */
.note .half {
  width: 11px;
  height: 33px;
}
/* line 45, /Users/saraqi/chord_generator/app/assets/stylesheets/note.scss */
.note .half.up {
  background-image: url(/assets/notes/half_note_up-f345d47436d30e64a569cf0ba0cc6730591d62d11a1ac5ae9a3de7fc76ba3202.svg);
  bottom: 11px;
}
/* line 49, /Users/saraqi/chord_generator/app/assets/stylesheets/note.scss */
.note .half.up.line-note::after {
  left: -4px;
  top: 27px;
}
/* line 55, /Users/saraqi/chord_generator/app/assets/stylesheets/note.scss */
.note .half.down {
  background-image: url(/assets/notes/half_note_down-b944e61db0408bc9cdbfa96e73c6255e7d28b2acdce6d525ed53704dbd7292be.svg);
  top: 12px;
}
/* line 59, /Users/saraqi/chord_generator/app/assets/stylesheets/note.scss */
.note .half.down.line-note::after {
  left: -4px;
  top: 4px;
}
/* line 66, /Users/saraqi/chord_generator/app/assets/stylesheets/note.scss */
.note .quarter {
  width: 11px;
  height: 32px;
}
/* line 70, /Users/saraqi/chord_generator/app/assets/stylesheets/note.scss */
.note .quarter.up {
  background-image: url(/assets/notes/quarter_note_up-91c2eb36c4ac2d60abba1fd6b9b9f03f119599f9ec1e2ae00af2852e4713c535.svg);
  bottom: 11px;
}
/* line 74, /Users/saraqi/chord_generator/app/assets/stylesheets/note.scss */
.note .quarter.up.line-note::after {
  left: -4px;
  top: 27px;
}
/* line 80, /Users/saraqi/chord_generator/app/assets/stylesheets/note.scss */
.note .quarter.down {
  background-image: url(/assets/notes/quarter_note_down-64fc9a7ff5b694c774a5d8900f7e084eb8c658db0594bdb90523d1c79a70762e.svg);
  top: 12px;
}
/* line 84, /Users/saraqi/chord_generator/app/assets/stylesheets/note.scss */
.note .quarter.down.line-note::after {
  left: -4px;
  top: 4px;
}
/* line 91, /Users/saraqi/chord_generator/app/assets/stylesheets/note.scss */
.note .eighth {
  height: 33px;
}
/* line 94, /Users/saraqi/chord_generator/app/assets/stylesheets/note.scss */
.note .eighth.up {
  background-image: url(/assets/notes/eighth_note_up-70da77a03ee50d38b60b085edac46e57857ab6d634dae5cce0234feb06f0532a.svg);
  width: 18px;
  bottom: 12px;
}
/* line 99, /Users/saraqi/chord_generator/app/assets/stylesheets/note.scss */
.note .eighth.up.line-note::after {
  left: -4px;
  top: 28px;
}
/* line 105, /Users/saraqi/chord_generator/app/assets/stylesheets/note.scss */
.note .eighth.down {
  background-image: url(/assets/notes/eighth_note_down-2045bc4ed4a4b28605f59f3b7b50c05ed5ebf6151942e0c13a7f3354f50ca180.svg);
  width: 11px;
  top: 12px;
}
/* line 110, /Users/saraqi/chord_generator/app/assets/stylesheets/note.scss */
.note .eighth.down.line-note::after {
  left: -4px;
  top: 4px;
}
/* line 2, /Users/saraqi/chord_generator/app/assets/stylesheets/other.scss */
.edit-key-signature .staff {
  height: 90px;
}

/* line 7, /Users/saraqi/chord_generator/app/assets/stylesheets/other.scss */
.edit-element .staff {
  padding-left: 40px;
}
/* line 11, /Users/saraqi/chord_generator/app/assets/stylesheets/other.scss */
.edit-element .type-option {
  height: 50px;
  width: 50px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
/* line 19, /Users/saraqi/chord_generator/app/assets/stylesheets/other.scss */
.edit-element .type-option:hover::before {
  content: " ";
  position: absolute;
  height: 48px;
  width: 48px;
  background-color: blue;
  opacity: 0.2;
  bottom: 0px;
}
/* line 30, /Users/saraqi/chord_generator/app/assets/stylesheets/other.scss */
.edit-element .type-option.selected::before {
  content: " ";
  position: absolute;
  height: 48px;
  width: 48px;
  background-color: black;
  opacity: 0.2;
  bottom: 0px;
}
/* line 41, /Users/saraqi/chord_generator/app/assets/stylesheets/other.scss */
.edit-element .type-option.selected:hover::before {
  background-color: black;
}
/* line 46, /Users/saraqi/chord_generator/app/assets/stylesheets/other.scss */
.edit-element .type-option .rest.whole {
  top: 3px;
}
/* line 51, /Users/saraqi/chord_generator/app/assets/stylesheets/other.scss */
.edit-element .type-option .note .half,
.edit-element .type-option .note .quarter,
.edit-element .type-option .note .eighth {
  bottom: 0px;
}
/* line 1, /Users/saraqi/chord_generator/app/assets/stylesheets/rest.scss */
.rest {
  background-size: contain;
  position: relative;
  background-repeat: no-repeat;
}
/* line 6, /Users/saraqi/chord_generator/app/assets/stylesheets/rest.scss */
.rest.whole {
  position: relative;
  height: 8px;
  width: 10px;
}
/* line 11, /Users/saraqi/chord_generator/app/assets/stylesheets/rest.scss */
.rest.whole::before {
  content: "";
  bottom: 5px;
  position: absolute;
  height: 5px;
  width: 14px;
  background-color: black;
}
/* line 20, /Users/saraqi/chord_generator/app/assets/stylesheets/rest.scss */
.rest.whole::after {
  content: "";
  bottom: 2px;
  position: absolute;
  height: 8px;
  width: 24px;
  right: -9px;
  box-sizing: border-box;
  border-top: 1px solid #222222;
}
/* line 32, /Users/saraqi/chord_generator/app/assets/stylesheets/rest.scss */
.rest.half {
  position: relative;
  height: 8px;
  width: 10px;
}
/* line 37, /Users/saraqi/chord_generator/app/assets/stylesheets/rest.scss */
.rest.half::before {
  content: "";
  bottom: 1px;
  position: absolute;
  height: 5px;
  width: 14px;
  background-color: black;
}
/* line 46, /Users/saraqi/chord_generator/app/assets/stylesheets/rest.scss */
.rest.half::after {
  content: "";
  bottom: 1px;
  position: absolute;
  height: 8px;
  width: 24px;
  right: -9px;
  box-sizing: border-box;
  border-bottom: 1px solid #222222;
}
/* line 58, /Users/saraqi/chord_generator/app/assets/stylesheets/rest.scss */
.rest.half {
  position: relative;
  height: 8px;
  width: 10px;
}
/* line 63, /Users/saraqi/chord_generator/app/assets/stylesheets/rest.scss */
.rest.half::before {
  content: "";
  bottom: 1px;
  position: absolute;
  height: 5px;
  width: 14px;
  background-color: black;
}
/* line 72, /Users/saraqi/chord_generator/app/assets/stylesheets/rest.scss */
.rest.half::after {
  content: "";
  bottom: 1px;
  position: absolute;
  height: 8px;
  width: 24px;
  right: -9px;
  box-sizing: border-box;
  border-bottom: 1px solid #222222;
}
/* line 84, /Users/saraqi/chord_generator/app/assets/stylesheets/rest.scss */
.rest.half {
  position: relative;
  height: 8px;
  width: 10px;
}
/* line 89, /Users/saraqi/chord_generator/app/assets/stylesheets/rest.scss */
.rest.half::before {
  content: "";
  bottom: 1px;
  position: absolute;
  height: 5px;
  width: 14px;
  background-color: black;
}
/* line 98, /Users/saraqi/chord_generator/app/assets/stylesheets/rest.scss */
.rest.half::after {
  content: "";
  bottom: 1px;
  position: absolute;
  height: 8px;
  width: 24px;
  right: -9px;
  box-sizing: border-box;
  border-bottom: 1px solid #222222;
}
/* line 110, /Users/saraqi/chord_generator/app/assets/stylesheets/rest.scss */
.rest.quarter {
  content: ' ';
  background-image: url(/assets/quarter_rest-246bdb5bfb205d8957a696b784690a201e9ab9fbb84ec1f41069dec22de7dcba.svg);
  height: 23px;
  width: 10px;
}
/* line 117, /Users/saraqi/chord_generator/app/assets/stylesheets/rest.scss */
.rest.eighth {
  content: ' ';
  background-image: url(/assets/eighth_rest-5bbdbcac8560fb300c90f4879760ffa2d274e3e8a29a806220fc80fa5b6c126e.svg);
  height: 16px;
  width: 10px;
}
/* line 3, /Users/saraqi/chord_generator/app/assets/stylesheets/staff.scss */
.staff {
  font-size: 0;
  /* thanks to: https://codepen.io/gvissing/pen/BKmmpJ for .staff */
  background-image: linear-gradient(180deg, #999 0, #999 1px, transparent 1px, transparent 8px, #999 8px, #999 9px, transparent 9px, transparent 16px, #999 16px, #999 17px, transparent 17px, transparent 24px, #999 24px, #999 25px, transparent 25px, transparent 32px, #999 32px, #999 33px, transparent 33px);
  background-size: 100% 100px;
  margin-bottom: -67px;
  padding-left: 100px;
  position: relative;
}
/* line 12, /Users/saraqi/chord_generator/app/assets/stylesheets/staff.scss */
.staff .clef {
  position: absolute;
  left: 3px;
  background-repeat: repeat-y;
  background-size: 50px 100px;
  height: 100% !important;
  content: ' ';
}
/* line 21, /Users/saraqi/chord_generator/app/assets/stylesheets/staff.scss */
.staff .clef.selected::before {
  content: " ";
  position: absolute;
  width: 100%;
  background-color: blue;
  opacity: 0.2;
  height: 100%;
  top: 3px;
  left: 2px;
}
/* line 35, /Users/saraqi/chord_generator/app/assets/stylesheets/staff.scss */
.staff .clef.highlight:hover::before, .staff .clef.selected:hover::before {
  content: " ";
  position: absolute;
  width: 100%;
  background-color: blue;
  opacity: 0.2;
  height: 100%;
  top: 3px;
  left: 2px;
}
/* line 47, /Users/saraqi/chord_generator/app/assets/stylesheets/staff.scss */
.staff .clef.treble {
  bottom: 31px;
  background-image: url(/assets/treble_clef-19dae03c586a5dd36ea8a5506d885055bcc6272fa081e968ffbbfd203ad531b5.svg);
  height: 54px;
  width: 48px;
}
/* line 55, /Users/saraqi/chord_generator/app/assets/stylesheets/staff.scss */
.staff .staff-element {
  display: inline-block;
  height: 33px;
  margin-bottom: 67px;
}
/* line 61, /Users/saraqi/chord_generator/app/assets/stylesheets/staff.scss */
.staff .staff-element.selected, .staff .staff-element.highlightOnHover:hover {
  position: relative;
}
/* line 66, /Users/saraqi/chord_generator/app/assets/stylesheets/staff.scss */
.staff .staff-element.selected::before, .staff .staff-element.highlightOnHover:hover::before {
  content: " ";
  position: absolute;
  height: 33px;
  width: 100%;
  background-color: blue;
  opacity: 0.2;
  height: 60px;
  bottom: -15px;
}
/* line 78, /Users/saraqi/chord_generator/app/assets/stylesheets/staff.scss */
.staff .staff-element .measure {
  height: 33px;
  min-width: 100px;
  position: relative;
}
/* line 83, /Users/saraqi/chord_generator/app/assets/stylesheets/staff.scss */
.staff .staff-element .measure .chord {
  position: absolute;
  height: 20px;
  top: -40px;
  padding-left: 5px;
  font-size: 16px;
}
/* line 92, /Users/saraqi/chord_generator/app/assets/stylesheets/staff.scss */
.staff .staff-element .rest {
  position: relative;
  top: 10px;
  margin-left: 20px;
  margin-right: 30px;
}
/* line 98, /Users/saraqi/chord_generator/app/assets/stylesheets/staff.scss */
.staff .staff-element .rest.quarter {
  top: 4px;
  margin: 0 12px;
}
/* line 103, /Users/saraqi/chord_generator/app/assets/stylesheets/staff.scss */
.staff .staff-element .rest.eighth {
  top: 9px;
  margin: 0 10px;
}
/* line 109, /Users/saraqi/chord_generator/app/assets/stylesheets/staff.scss */
.staff .staff-element .melody-note {
  position: relative;
  margin-left: 33px;
  margin: 0 22px;
}
/* line 114, /Users/saraqi/chord_generator/app/assets/stylesheets/staff.scss */
.staff .staff-element .melody-note .note {
  position: absolute;
}
/* line 119, /Users/saraqi/chord_generator/app/assets/stylesheets/staff.scss */
.staff .staff-element .ghost-notes {
  position: relative;
}
/* line 122, /Users/saraqi/chord_generator/app/assets/stylesheets/staff.scss */
.staff .staff-element .ghost-notes .ghost-note {
  position: absolute;
}
/* line 128, /Users/saraqi/chord_generator/app/assets/stylesheets/staff.scss */
.staff .staff-element .ghost-note.c4 {
  top: 36px;
}
/* line 131, /Users/saraqi/chord_generator/app/assets/stylesheets/staff.scss */
.staff .staff-element .ghost-note.d4 {
  top: 32px;
}
/* line 134, /Users/saraqi/chord_generator/app/assets/stylesheets/staff.scss */
.staff .staff-element .ghost-note.e4 {
  top: 28px;
}
/* line 137, /Users/saraqi/chord_generator/app/assets/stylesheets/staff.scss */
.staff .staff-element .ghost-note.f4 {
  top: 24px;
}
/* line 140, /Users/saraqi/chord_generator/app/assets/stylesheets/staff.scss */
.staff .staff-element .ghost-note.g4 {
  top: 20px;
}
/* line 143, /Users/saraqi/chord_generator/app/assets/stylesheets/staff.scss */
.staff .staff-element .ghost-note.a5 {
  top: 16px;
}
/* line 146, /Users/saraqi/chord_generator/app/assets/stylesheets/staff.scss */
.staff .staff-element .ghost-note.b5 {
  top: 12px;
}
/* line 149, /Users/saraqi/chord_generator/app/assets/stylesheets/staff.scss */
.staff .staff-element .ghost-note.c5 {
  top: 8px;
}
/* line 152, /Users/saraqi/chord_generator/app/assets/stylesheets/staff.scss */
.staff .staff-element .ghost-note.d5 {
  top: 4px;
}
/* line 155, /Users/saraqi/chord_generator/app/assets/stylesheets/staff.scss */
.staff .staff-element .ghost-note.e5 {
  top: 0px;
}
/* line 158, /Users/saraqi/chord_generator/app/assets/stylesheets/staff.scss */
.staff .staff-element .ghost-note.f5 {
  top: -4px;
}
/* line 161, /Users/saraqi/chord_generator/app/assets/stylesheets/staff.scss */
.staff .staff-element .ghost-note.g5 {
  top: -8px;
}
/* line 164, /Users/saraqi/chord_generator/app/assets/stylesheets/staff.scss */
.staff .staff-element .ghost-note.a6 {
  top: -12px;
}
/* line 167, /Users/saraqi/chord_generator/app/assets/stylesheets/staff.scss */
.staff .staff-element .ghost-note.b6 {
  top: -16px;
}
/* line 170, /Users/saraqi/chord_generator/app/assets/stylesheets/staff.scss */
.staff .staff-element .ghost-note.c6 {
  top: -20px;
}
/* line 176, /Users/saraqi/chord_generator/app/assets/stylesheets/staff.scss */
.staff .time-signature {
  position: relative;
  margin: 0 12px;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  bottom: 1px;
}
/* line 185, /Users/saraqi/chord_generator/app/assets/stylesheets/staff.scss */
.staff .time-signature .top {
  position: absolute;
}
/* line 188, /Users/saraqi/chord_generator/app/assets/stylesheets/staff.scss */
.staff .time-signature .bottom {
  position: absolute;
  top: 16px;
}
/* line 194, /Users/saraqi/chord_generator/app/assets/stylesheets/staff.scss */
.staff .bar {
  position: relative;
  width: 1px;
  height: 32px;
  border-right: 1px solid black;
  margin-left: 10px;
}
/* line 201, /Users/saraqi/chord_generator/app/assets/stylesheets/staff.scss */
.staff .bar.double, .staff .bar.end {
  width: 8px;
  border-left: 1px solid black;
}
/* line 208, /Users/saraqi/chord_generator/app/assets/stylesheets/staff.scss */
.staff .bar.end {
  float: right;
  border-right-width: 4px;
  margin-right: 0;
}

/* line 216, /Users/saraqi/chord_generator/app/assets/stylesheets/staff.scss */
.debug .bar {
  outline: 1px solid rgba(255, 0, 0, 0.1);
}

/* line 220, /Users/saraqi/chord_generator/app/assets/stylesheets/staff.scss */
.staff.debug {
  background-color: rgba(0, 255, 0, 0.1);
}

/* line 224, /Users/saraqi/chord_generator/app/assets/stylesheets/staff.scss */
.debug .note {
  outline: 1px solid rgba(255, 0, 0, 0.1);
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

