/* thanks to: https://codepen.io/gvissing/pen/BKmmpJ */

.staff {
  font-size: 0;
  background-image: linear-gradient(180deg, #999 0, #999 1px, transparent 1px, transparent 8px, #999 8px, #999 9px, transparent 9px, transparent 16px, #999 16px, #999 17px, transparent 17px, transparent 24px, #999 24px, #999 25px, transparent 25px, transparent 32px, #999 32px, #999 33px, transparent 33px);
  background-size: 100% 100px;
  margin-bottom: -67px;
  padding-left: 100px;
  position: relative;

  .clef {
    position: absolute;
    left: 3px;
    background-repeat: repeat-y;
    background-size: 50px 100px;
    height: 100% !important;
    content: ' ';

    &.selected {
      &::before {
        content: " ";
        position: absolute;
        width: 100%;
        background-color: blue;
        opacity: 0.2;
        height: 100%;
        top: 3px;
        left: 2px;
      }
    }

    &.highlight,
    &.selected {
      &:hover::before {
        content: " ";
        position: absolute;
        width: 100%;
        background-color: blue;
        opacity: 0.2;
        height: 100%;
        top: 3px;
        left: 2px;
      }
    }

    &.treble {
      bottom: 31px;
      background-image: image-url('treble_clef.svg');
      height: 54px;
      width: 48px;
    }
  }

  .staff-element {
    display: inline-block;
    height: 33px;
    margin-bottom: 67px;


    &.selected,
    &.highlightOnHover:hover {
      position: relative;


      &::before {
        content: " ";
        position: absolute;
        height: 33px;
        width: 100%;
        background-color: blue;
        opacity: 0.2;
        height: 60px;
        bottom: -15px;
      }
    }

    .measure {
      height: 33px;
      min-width: 100px;
    }

    .rest {
      position: relative;
      top: 10px;
      margin-left: 20px;
      margin-right: 30px;

      &.quarter {
        top: 4px;
        margin: 0 12px;
      }

      &.eighth {
        top: 9px;
        margin: 0 10px;
      }
    }

    .melody-note {
      position: relative;
      margin-left: 33px;
      margin: 0 22px;

      .note {
        position: absolute;
      }
    }

    .ghost-notes {
      position: relative;

      .ghost-note {
        position: absolute;
      }
    }

    .ghost-note {
      &.c4 {
        top: 36px;
      }
      &.d4 {
        top: 32px;
      }
      &.e4 {
        top: 28px;
      }
      &.f4 {
        top: 24px;
      }
      &.g4 {
        top: 20px;
      }
      &.a5 {
        top: 16px;
      }
      &.b5 {
        top: 12px;
      }
      &.c5 {
        top: 8px;
      }
      &.d5 {
        top: 4px;
      }
      &.e5 {
        top: 0px;
      }
      &.f5 {
        top: -4px;
      }
      &.g5 {
        top: -8px;
      }
      &.a6 {
        top: -12px;
      }
      &.b6 {
        top: -16px;
      }
      &.c6 {
        top: -20px;
      }
    }
  }

  .time-signature {
    position: relative;
    margin: 0 12px;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    bottom: 1px;

    .top {
      position: absolute;
    }
    .bottom {
      position: absolute;
      top: 16px;
    }
  }

  .bar {
    position: relative;
    width: 1px;
    height: 32px;
    border-right: 1px solid black;
    margin-left: 10px;

    &.double,
    &.end  {
      width: 8px;
      border-left: 1px solid black;
    }
  }

  .bar.end {
    float: right;
    border-right-width: 4px;
    margin-right: 0;
  }
}


.debug .bar {
  outline: 1px solid rgba(255, 0, 0, 0.1);
}

.staff.debug {
  background-color: rgba(0, 255, 0, 0.1);
}

.debug .note {
  outline: 1px solid rgba(255, 0, 0, 0.1);
}
